<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Design Test Paper</ion-title>
   <ion-buttons end><button ion-button color="pri" (click)="addQuestion()" >Add Question</button></ion-buttons>
    <ion-buttons end><button ion-button (click)="downloadPDF()">Download Paper</button></ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

<ion-list *ngFor="let question of questionList; let i = index">
  <ion-card>
    <ion-card-header></ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-input value="{{question.question}}" #input></ion-input>
      <ion-item>
        <ion-select #one>
          <ion-option *ngFor="let option1 of question.options">{{option1}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select #two>
        <ion-option *ngFor="let option2 of question.options">{{option2}}</ion-option>
        </ion-select>
      </ion-item>
        <ion-item>
          <ion-select #three>
          <ion-option *ngFor="let option3 of question.options">{{option3}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-select #four>
          <ion-option *ngFor="let option4 of question.options">{{option4}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-row>
    </ion-card-content>
    <ion-buttons><button ion-button (click)="getData(input.value,one.value,two.value,three.value,four.value, i)">Save</button></ion-buttons>
  </ion-card>
</ion-list>

</ion-content>
